* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cascadia code', sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-image: linear-gradient(#614385, #516395);
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
    grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
    column-gap: 10%;
    padding: 0% 5%;
}

nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
}

nav .array-inputs #array_size {
    padding: 5% 0%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Chrome */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background-image: linear-gradient(#614385, #516395);
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


/* Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}


/* IE */

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border-radius: 5px;
    border: 0.1px solid #01BAEF;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

input[type=range]::-ms-fill-upper {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

nav .array-inputs #sorting_speed {
    padding: 5% 0%;
}

nav .array-inputs #generate_array {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 4% 0% 0% 0%;
    padding-left: 20%;
}

nav .array-inputs #generate_array:hover {
    cursor: pointer;
}

nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav .header_right .nav-heading {
    display: inline-block;
    font-size: xx-large;
    padding: 3% 0%;
}

nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (16.66667%);
    grid-template-columns: repeat(6, 16.66667%);
    place-content: center;
    padding: 2% 0%;
}

nav .header_right .algos button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 5% 0%;
}

nav .header_right .algos button:hover {
    background-color: #D23FF6;
    cursor: pointer;
}

nav .header_right .algos .disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
}

section #Info_Cont1 {
    padding: 20%;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
}

section #Info_Cont2 {
    padding: 20%;
}