* {
    margin: 0px;
    padding: 0px;
    font-family: /* 'Cascadia code', */
    sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}

:root {
    --lightgray: #efefef;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

nav {
    background-image: linear-gradient(#614385, #516395);
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
    grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
    column-gap: 10%;
    padding: 0% 5%;
}

nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
}

nav .array-inputs #array_size {
    padding: 5% 0%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Chrome */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background-image: linear-gradient(#614385, #516395);
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* IE */

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border-radius: 5px;
    border: 0.1px solid #01BAEF;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

input[type=range]::-ms-fill-upper {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background-image: linear-gradient(to bottom right, #20BF55, #01BAEF);
}

nav .array-inputs #sorting_speed {
    padding: 5% 0%;
}

nav .array-inputs #generate_array {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 4% 0% 0% 0%;
    padding-left: 20%;
}

nav .array-inputs #generate_array:hover {
    cursor: pointer;
}

nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav .header_right .nav-heading {
    display: inline-block;
    font-size: xx-large;
    padding: 3% 0%;
}

nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (16.66667%);
    grid-template-columns: repeat(6, 16.66667%);
    place-content: center;
    padding: 2% 0%;
}

nav .header_right .algos button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 5% 0%;
}

nav .header_right .algos button:hover {
    background-color: #D23FF6;
    cursor: pointer;
}

nav .header_right .algos .disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
    grid-template-columns: 10% 80% 10%;
}

section #legends {
    padding: 20%;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    height: 70vh;
    margin-left: 30px;
    margin-right: 30px;
}

section #algo_desc {
    padding: 20%;
}

.open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 1;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    color: red;
    font-size: 14px;
    /* font-family: 'sans-serif'; */
}

.modal-dialog {
    position: relative;
    max-width: 82vh;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}

.modal-dialog>* {
    padding: 1rem;
}

.modal-header, .modal-footer {
    background: var(--lightgray);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.modal-header .close-modal {
    font-size: 1rem;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog, [data-animation="slideInOutTop"].is-visible .modal-dialog, [data-animation="slideInOutLeft"].is-visible .modal-dialog, [data-animation="slideInOutRight"].is-visible .modal-dialog, [data-animation="zoomInOut"].is-visible .modal-dialog, [data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}